jinja2==3.1.6
pyyaml==6.0.2

fsspec==2025.5.1
python-dotenv==1.1.1
aiohttp==3.12.13

pytest==8.4.1
pytest-asyncio==1.0.0
pytest-cov==6.2.1
black==25.1.0
isort==6.0.1
flake8==7.3.0
mypy==1.16.1
mkdocs==1.6.1
mkdocs-material==9.6.15
mkdocstrings-python
mkdocs-autorefs
pymdown-extensions