{# Template for fish shell activation script #}
set -gx {{ env_var }} "{{ project_path_str }}"
set -gx CHAINEDPY_PROJECT_NAME "{{ project_name }}"
if not set -q CHAINEDPY_PROJECT_STACK
    set -gx CHAINEDPY_PROJECT_STACK "{{ project_path_str }}"
else
    set -gx CHAINEDPY_PROJECT_STACK "{{ project_path_str }}:$CHAINEDPY_PROJECT_STACK"
end
set -gx PS1 "(chainedpy:{{ project_name }}) $PS1"
echo "ChainedPy project activated: {{ project_name }}"
