{# Template for cmd/batch shell deactivation script #}
if defined {{ env_var }} (
    echo ChainedPy project deactivated: %CHAINEDPY_PROJECT_NAME%
    set {{ env_var }}=
    set CHAINEDPY_PROJECT_NAME=
    for /f "tokens=2* delims=;" %%a in ("%CHAINEDPY_PROJECT_STACK%") do set CHAINEDPY_PROJECT_STACK=%%b
) else (
    echo No ChainedPy project is currently active
)
